{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="breadcrubs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcurbs-inner text-center">
                            <h3 class="breadcrubs-title">
                                Our blog
                            </h3>
                            <ul>
                                <li><a href="index.html">home <span>//</span>  </a></li>
                                <li>Our blog</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!--Breadcrubs end-->
       

        <!--our blog section start-->
        <div class="our-blog-pages ptb-80">
            <div class="bg-mg-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-blog mb-30">
                                <div class="blog-thumbnail">
                                    <img src="images/blog/1.jpg" alt="">
                                </div>
                                <div class="blog-desc">
                                    <div class="publish-date">
                                        <p>13<span>Mar</span></p>
                                    </div>
                                    <div class="blog-title">
                                        <h3><a href="#">Lorem Ipsum is simply dummy</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-blog blog-video mb-30">
                                <div class="blog-img">
                                    <div class="blog-thumbnail">
                                        <img src="images/blog/2.jpg" alt="">
                                    </div>
                                    <div class="blog-hover">
                                        <a href="https://www.youtube.com/embed/oxPgDogVFnQ"><i class="mdi mdi-play"></i></a>	
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-blog mb-30">
                                <div class="blog-thumbnail">
                                    <img src="images/blog/3.jpg" alt="">
                                </div>
                                <div class="blog-desc">
                                    <div class="publish-date">
                                        <p>13<span>Mar</span></p>
                                    </div>
                                    <div class="blog-title">
                                        <h3><a href="#">Lorem Ipsum is simply dummy</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-blog mb-30">
                                <div class="blog-thumbnail">
                                    <img src="images/blog/4.jpg" alt="">
                                </div>
                                <div class="blog-desc">
                                    <div class="publish-date">
                                        <p>13<span>Mar</span></p>
                                    </div>
                                    <div class="blog-title">
                                        <h3><a href="#">Lorem Ipsum is simply dummy</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-blog mb-30">
                                <div class="blog-thumbnail">
                                    <img src="images/blog/5.jpg" alt="">
                                </div>
                                <div class="blog-desc">
                                    <div class="publish-date">
                                        <p>13<span>Mar</span></p>
                                    </div>
                                    <div class="blog-title">
                                        <h3><a href="#">Lorem Ipsum is simply dummy</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-blog mb-30">
                                <div class="blog-thumbnail">
                                    <img src="images/blog/6.jpg" alt="">
                                </div>
                                <div class="blog-desc">
                                    <div class="publish-date">
                                        <p>13<span>Mar</span></p>
                                    </div>
                                    <div class="blog-title">
                                        <h3><a href="#">Lorem Ipsum is simply dummy</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-blog">
                                <div class="blog-thumbnail">
                                    <img src="images/blog/7.jpg" alt="">
                                </div>
                                <div class="blog-desc">
                                    <div class="publish-date">
                                        <p>13<span>Mar</span></p>
                                    </div>
                                    <div class="blog-title">
                                        <h3><a href="#">Lorem Ipsum is simply dummy</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-blog blog-video">
                                <div class="blog-img">
                                    <div class="blog-thumbnail">
                                        <img src="images/blog/8.jpg" alt="">
                                    </div>
                                    <div class="blog-hover">
                                        <a href="https://www.youtube.com/embed/oxPgDogVFnQ"><i class="mdi mdi-play"></i></a>	
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 hidden-sm col-xs-12">
                            <div class="single-blog">
                                <div class="blog-thumbnail">
                                    <img src="images/blog/9.jpg" alt="">
                                </div>
                                <div class="blog-desc">
                                    <div class="publish-date">
                                        <p>13<span>Mar</span></p>
                                    </div>
                                    <div class="blog-title">
                                        <h3><a href="#">Lorem Ipsum is simply dummy</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}    
      