{% extends 'base.html' %}
{% load static %}

{% block content %}
       
<!--Breadcrubs start-->
<div class="breadcrubs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcurbs-inner text-center">
                    <h3 class="breadcrubs-title">
                        {{ post.title }}
                    </h3>
                    <ul>
                        <li><a href="{% url 'index' %}">home <span>//</span>  </a></li>
                        <li>{{ post.title }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Breadcrubs end-->

<!--Blog details start -->
<div class="blog-details-page ptb-80">
    <div class="bg-img"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="blog-left-sidebar">
                    <article class="articles-details">
                        <div class="blog-thumbnail mb-60">
                            <img src="{{ post.thumbnail.url }}" alt="">
                            <div class="blog-publish">
                                <div class="publish-date">
                                    <p>{{ post.pub_date|date:"d" }}<span>{{ post.pub_date|date:"M" }}</span></p>
                                </div>
                                <div class="blog-title">
                                    <h4> {{ post.title }} </h4>
                                </div>
                            </div>
                        </div>
                        <div class="blog-desacription fix">
                            <div class="b-desc-1">
                                {{ post.content | safe }}
                            </div>                            
                        </div>
                        <div class="blog-action">
                            <div class="action-box">
                                <p><i class="mdi mdi-heart-outline"></i>{{ post.like }}</p>
                                <p><i class="mdi mdi-comment-multiple-outline"></i>{{ post.comment_count }}</p>
                                <p><i class="mdi mdi-share-variant"></i>{{ post.shares }}</p>
                                <p><a href="{% url 'post-update' id=post.id %}">Update</a></p>
                                <p><a style="color:red;" href="{% url 'post-delete' id=post.id %}">Delete</a></p>
                                    
                            </div>
                            <div class="blog-share-social">
                                <a href="#"><i class="mdi mdi-facebook"></i></a>
                                <a href="#"><i class="mdi mdi-twitter"></i></a>
                            </div>
                        </div>
                        <div class="blog-cheaf-quote">
                            <div class="cheaf-quote-img">
                                <img src="{{ post.author.profile_picture.url }}" alt="">
                            </div>
                            <div class="cheaf-quote-desc fix">
                                <div class="cheaf-quote-text">
                                    <p><i class="fa fa-quote-left"></i>{{ post.author.phrase }}<i class="fa fa-quote-right"></i></p>
                                    <div class="cheaf-quote-action">
                                        <div class="cheaf-quote-title">
                                            <h5>{{ post.author.user.username }}</h5>
                                            <p>{{ post.author.position}}</p>    
                                        </div>
                                        <div class="cheaf-quote-social">
                                            <a href="{{ post.author.facebook }}" target="_blank"><i class="mdi mdi-facebook"></i></a>
                                            <a href="{{ post.author.twitter }}" target="_blank"><i class="mdi mdi-twitter"></i></a>
                                        </div>     
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="blog-comment-box">
                            <div class="comment-title">
                                <h3>Awesome commnents</h3>
                            </div>
                            <div class="comment-box-inner fix">
                                {% for comment in post.get_comments %}
                                <div class="blog-comment fix">
                                    <div class="blog-comment-img">
                                        <img src="images/blog/blog-comment-1.jpg" alt="">
                                    </div>
                                    <div class="blog-comment-desc">
                                        <div class="comment-top-box">
                                            <div class="comment-title-box">
                                                <h5>{{ comment.person }}</h5>
                                                <p>{{ comment.pub_date_comment|timesince }} ago</p>
                                            </div>
                                            <div class="comment-action-box">
                                            </div>
                                        </div>
                                        <div class="comment-bottom-box">
                                            <p>{{ comment.com }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!--blog comment form start-->
                            <div class="blog-comment-form mt-40">
                                <div class="comment-title">
                                    <h3>leave a comment</h3>
                                </div>
                                <form method="POST" action=".">
                                    {% csrf_token %}
                                    <div class="comment-input fix">
                                        <div class="input-field">
                                            {{ form.person }}
                                        </div>
                                        <div class="input-field">
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="textarea">
                                        {{ form.com }}
                                    </div>
                                    <div class="submit">
                                        <button type="submit">Send Message</button>
                                    </div>
                                </form>
                            </div>
                            <!--blog comment form end-->
                        </div>
                    </article> 
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                {% include 'parts/sidebar-blog.html' with category=post.category.all tags=post.tag.all most_recent=most_recent%}
            </div>
        </div>
    </div>
</div>
<!--Blog details end-->
{% endblock content %}