{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="breadcrubs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcurbs-inner text-center">
                            <h3 class="breadcrubs-title">
                                Our blog
                            </h3>
                            <ul>
                                <li><a href="index.html">home <span>//</span>  </a></li>
                                <li>Our blog</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!--Breadcrubs end-->
       

        <!--our blog section start-->
        <div class="our-blog-pages ptb-80">
            <div class="bg-mg-1">
                <div class="container">
                    <div class="row">
                        {% for p in posts %}
                            {% if p.is_video == True %}
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="single-blog blog-video mb-30">
                                    <div class="blog-img">
                                        <div class="blog-thumbnail">
                                            <img src="{{ p.thumbnail.url }}" alt="">
                                        </div>
                                        <div class="blog-hover">
                                            <a href="{{ p.video_url }}"><i class="mdi mdi-play"></i></a>	
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            {% else %}
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="single-blog mb-30">
                                    <div class="blog-thumbnail">
                                        <img src="{{ p.thumbnail.url }}" alt="">
                                    </div>
                                    <div class="blog-desc">
                                        <div class="publish-date">
                                            <p>{{ p.pub_date|date:"d" }}<span>{{ p.pub_date|date:"M" }}</span></p>
                                        </div>
                                        <div class="blog-title">
                                            <h3><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}                        
                        {% endfor %}                      
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}    
      