{% load static %}

<div class="footer">
    <div class="footer-top ptb-100 grey-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-footer">
                        <h3 class="single-footer-title">Contact us</h3>
                        <div class="single-footer-details mt-30">
                            <p class="addresses">
                                <strong>Address:</strong> House No 08, Ro ad No 08<br>Din Bari, Dhaka, Bangladesh
                            </p>
                            <p class="email">
                                <strong> Email:</strong> Username@gmail.com<br>Damo@gmail.com
                            </p>
                            <p class="phon">
                                <strong>Phone:</strong>(+660 256 24857)<br>(+660 256 24857)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-footer">
                        <h3 class="single-footer-title">open hours</h3>
                        <div class="single-footer-details mt-30">
                            <p>Lorem ipsum dolor sit amet,  tore latthi dimu consectetueiusmodm dost   </p>
                            <div class="open-list">
                                <ul>
                                    <li>Monday- Friday. . . . . . . . . . . . . <span>8 AM - 5PM</span></li>
                                    <li>Sunday. . . . . . . . . . . . . . . . . . . . . <span>12 AM - 5PM</span></li>
                                    <li>Saturday . . . . . . . . . . . . . . . . . . . . . . . . . . . <span>Close</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-footer instagram">
                        <h3 class="single-footer-title">{{ text }}</h3>
                        <div class="single-footer-details mt-30">
                            <ul>
                                <li><a href="#"><img src="{% static 'images/instagram/1.jpg' %}" alt=""></a></li>
                                <li><a href="#"><img src="{% static 'images/instagram/2.jpg' %}" alt=""></a></li>
                                <li><a href="#"><img src="{% static 'images/instagram/3.jpg' %}" alt=""></a></li>
                                <li><a href="#"><img src="{% static 'images/instagram/4.jpg' %}" alt=""></a></li>
                                <li><a href="#"><img src="{% static 'images/instagram/5.jpg' %}" alt=""></a></li>
                                <li><a href="#"><img src="{% static 'images/instagram/6.jpg' %}" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-footer newsletter">
                        <h3 class="single-footer-title">Newsletter</h3>
                        <div class="single-footer-details mt-30">
                            <p>Lorem ipsum dolor sit amet,  tore latthi dimu consectetueiusmodm dost </p>
                            <div class="newsletter-form">
                                <form action="#">
                                    <input type="text" placeholder="Enter your email">
                                    <button type="submit">submit</button>
                                </form>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>